.about-cont{
    min-height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/screenshot-2022-06-27-at-8-33-13-pm1253637191.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: large;
    text-shadow: 1px 1px 1px black;
}