.nav-cont-parent{
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar-brand img{
    width: 150px;
}
.navbar{
    background: #5D5E5E !important;
}
.main-btn{
    background: var(--colorPrimary) !important;
    color: white !important;
}
.main-btn:hover{
    background:#E4432D !important;
    color: black !important;
}
.nav-cont-parent {
    /* Rest of the styles... */
    transition: transform 0.3s ease-in-out;
  }
  
  .visible {
    transform: translateY(0);
  }
  
  .hidden {
    transform: translateY(-100%);
  }
  