/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mukta&family=Nunito&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Nunito', sans-serif;
}
:root{
  --colorPrimary:#ED462F;
}
.swiper-button-next, .swiper-button-prev{
  color: white !important;
  background: #5D5E5E;
  padding: 5px !important;
}
.swiper-button-next::after{
  font-size: larger !important;
}
.swiper-button-prev::after{
  font-size: larger !important;
}
.swiper-pagination-bullet-active{
  background: #5D5E5E !important;
}
a{
  color: inherit !important;
  text-decoration: none !important;
}